body {
  background-color: black;
  color: red;
  font-family: 'Alice', serif;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 2.5rem;
}

button {
  border: 8px solid;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Alice', serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}

button:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 5px rgba(0,0,0,0.6);
  transform: translateY(4px);
}

.gryffindor {
  background-color: maroon;
  color: gold;
}

.hufflepuff {
  background-color: gold;
  color: black;
}

.ravenclaw {
  background-color: navy;
  color: #804a00;
}

.slytherin {
  background-color: #0b4203;
  color: silver;
}
